.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

.content {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 32px;
  padding-left: 24px;
}

.form-beli {
  width: 50%;
}

.input-txt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-checkbox {
  display: flex;
  justify-content: space-between;
}

.label-checkbox {
  display: flex;
  align-items: flex-end;
  padding-bottom: 6px;
}

.box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ckbx {
  margin-bottom: 6px;
  text-align: left;
}

.ckbx input{
  margin: 0;
  padding: 0;
}

.ckbx label {
  margin-left: 6px;;
}

.btn-submit {
 display: flex;
 justify-content: start;
 padding-top: 16px;
}

.btn {
  padding: 0 16px;
  border-radius: 10px;
  outline: none;
}

.table-buah {
  width: 100%;
  display: flex;
  margin: auto;
  padding-left: 0 !important;
}

.table-buah table {
  width: 100%;
  border-collapse: collapse;
}

.table-buah table th{
  border: 1px solid black;
  background-color: #AAAAAA;
}

.table-buah table td{
  border: 1px solid black;
  text-align: left;
  background-color: #FF7F50;
}
.noborder {
  border: none !important;
  padding-left: 0!important;
}